.recipe {
    border: 1px solid white;
    margin-block-end: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* override default react icon styling */
.recipe svg {
    width: 1.5em !important;
    height: 1.5em !important;
}

.red {
    color: red;
}

.title-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
}