form {
    border: 1px solid #1a1a1a42;
    border-radius: 8px;
    margin-block-start: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 320px;
}

/* target submit button */
form > input:last-of-type {
    height: 2rem;
    background-color: #b6b6b642;
    margin-block-start: 5%;
}

input, textarea {
    border: 2px solid #1a1a1a42;
    width: 90%;
    border-radius: 8px;
    background-color: aliceblue;
    color: black
}

textarea {
    height: 5rem;
}

input::placeholder, textarea::placeholder {
    font-family: 'Courier New', Courier, monospace;
}
