#root {
  width: 25rem;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-height: 100vh;
  border: 1px solid salmon;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  min-height: 90vh; 
}

